/* 标题下划线 */
.hd .list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    z-index: 100;
}


#content-wrapper {
    font-size: 16px;
    font-weight: 200;
    user-select: text;
    cursor: auto;

}

#content-wrapper p {
    font-size: inherit;
    font-weight: inherit;
}

#share {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#share  {
    position: fixed;
    right: 30px;
    bottom: 0;
    
}

#share .social-share {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    #content-wrapper, p,li {
        width: 86%;
        font-size: 0.8rem !important;
    }
    #share {
        right: 0px;
    }
}

#gohome {
    position: fixed;
    width: 30rem;
    height: 10rem;
    top: -4rem;
    left: -10rem;
    background-color: rgb(68, 68, 179);
    transform: rotate(-30deg);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2rem;
    overflow: hidden;
}