.menu-wrapper {
    position: fixed;
    top: 20%;
    width: 200px;
    padding: 20px 0;
    height: auto;
    transition: all .3s ease-in-out;
}
.cl-link {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@media screen and (min-width: 1000px) {
    .menu-wrapper {
        right: 0;
    }
}


@media screen and (max-width: 768px) {
    .menu-wrapper {
        left: -100%;
        background-color: #696969;
        padding: 20% 0 0 0;
        height: 100%;
        top: 0;
    }
}


.cl-wrapper {
    position: relative;
  }
  
  .cl-wrapper ul, .cl-wrapper li {
    margin: 6px 0;
    -moz-padding-start: 12px;
    -webkit-padding-start: 12px;
    list-style: none;
  }
  
  .cl-wrapper li > .cl-link.cl-link-active {
    color: rgba(66, 185, 131, 0.9) !important;
    transition: .2s;
  }
  
  .cl-wrapper li > .cl-transform.cl-link-active {
    transform: translate(3px);
  }
  
  .cl-wrapper .cl-link {
    cursor: pointer;
    /* color: rgba(52, 73, 94, 0.5); */
    color: #ccc;
    font-size: 13px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .cl-wrapper .cl-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .cl-wrapper .cl-marker path {
    transition: all 0.3s ease;
  }
  